<h2 class="heading">ユーザーアカウント編集</h2>
<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form">
    <table class="form_table">
      <tr class="table_row">
        <th class="table_head"><%= f.label :name %></th>
        <td class="table_data"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
      </tr>

      <tr class="table_row">
        <th class="table_head"><%= f.label :email %></th>
        <td class="table_data"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>

      <tr class="table_row">
        <th class="table_head">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <i>※<%= @minimum_password_length %>文字以上</i>
          <% end %>
        </th>
        <td class="table_data">
          <%= f.password_field :password, autocomplete: "new-password" %><br />
          <em>変更しない場合は空白のままにしてください</em><br />
        </td>
      </tr>

      <tr class="table_row">
        <th class="table_head"><%= f.label :password_confirmation %></th>
        <td class="table_data"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>

      <tr class="table_row">
        <th class="table_head"><%= f.label :current_password %></th>
        <td class="table_data"><%= f.password_field :current_password, autocomplete: "current-password" %></td>
      </tr>
    </table>
    <div class="form_foot">
      <%= f.submit "Update", class:"button" %>
    </div>
  </div>
<% end %>

<div>
  <h4>アカウント削除</h4>
  <%= button_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>

