<h2 class="heading">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form">
   <table class="form_table">
      <tr class="table_row">
        <th class="table_head"><%= f.label :name %></th>
        <td class="table_data"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
      </tr>
    
      <tr class="table_row">
        <th class="table_head"><%= f.label :email %></th>
        <td class="table_data"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
    
      <tr class="table_row">
        <th class="table_head">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </th>
        <td class="table_data"><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
    
      <tr class="table_row">
        <th class="table_head"><%= f.label :password_confirmation %></th>
        <td class="table_data"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
    </table>
    <div class="form_foot">
      <%= f.submit "登録", class:"button" %>
    </div>
  </div>
<% end %>
