<h3>マイページ</h3>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<div>
  <ul>
    <li>
      <%= @user.name %>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li><%= link_to 'アカウント情報表示', users_account_path %></li>
    <li><%= link_to 'アカウント情報編集', edit_user_registration_path %></li>
    <li><%= link_to 'プロフィール表示', user_path(:id) %></li>
    <li><%= link_to 'プロフィール編集', edit_user_path(:id) %></li>
    <li><%= link_to '登録宿一覧', user_rooms_index_path(@user) %></li>
    <li><%= link_to '予約宿一覧', user_books_index_path(@user) %></li>
  </ul>
</div>
