<div class="books_index_container">
  <h2 class="heading">予約一覧</h2>
  <% @books.each do |book| %>
    <div class="book">
      <div class="book_image_container">
        <% if book.room.image.attached? %>
          <%= image_tag book.room.image, class:"book_image"%>
        <% else %>
          <%= image_tag 'default-image-room.png', :alt => '宿のデフォルト画像', class: "book_image" %>
        <% end %>
      </div>
      <table class="book_text">
        <tr>
          <th>宿名</th>
          <td><%= book.room.name %></td>
        </tr>
        <tr>
          <th>紹介文</th>
          <td><%= book.room.introduction %></td>
        </tr>
        <tr>
          <th>チェックイン</th>
          <td><%= l book.check_in_date, format: :date %></td>
        </tr>
        <tr>
          <th>チェックアウト</th>
          <td><%= l book.check_out_date, format: :date %></td>
        </tr>
        <tr>
          <th>宿泊合計料金</th>
          <td><%= "#{book.payment_amount}円" %></td>
        </tr>
        <tr>
          <th>予約確定時刻</th>
          <td><%= l book.created_at, format: :date_and_time %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>