<h2 class="heading">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form">
    <table class="form_table">
      <tr class="table_row">
        <th class="table_head"><%= f.label :email %></th>
        <td class="table_data"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
    
      <tr class="table_row">
        <th class="table_head"><%= f.label :password %></th>
        <td class="table_data"><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    </table>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="form_foot">
        <%= f.submit "ログイン", class:"button" %>
      </div>
  </div>
  <% end %>
