<%= render "shared/search" %>
<h2>検索結果</h2>
<p><%= "#{@rooms.count}件" %></p>
<div>
  <% @rooms.each do |room| %>
    <ul>
      <li><%= room.name %></li>
      <li><%= room.address %></li>
      <li><%= room.charge_per_night %>円</li>
      <li><%= room.detail %></li>
      <li><%= link_to "詳細", room %></li>
    </ul>
  <% end %>
</div>

<div>
  <%= link_to "戻る", :back %>
</div>
