<div class="rooms_show_container">
  <div class="room">
    <div class="room_head">
      <h2 class="heading"><%= @room.name %></h2>
      <% if @room.introduction.present? %>
        <p class="room_introduction"><%= @room.introduction %></p>
      <% end %>
    </div>

    <div class="room_body">
      <div class="room_image_container">
        <% if @room.image.attached? %>
          <%= image_tag @room.image, class:"room_image" %>
        <% else %>
          <%= image_tag 'default-image-room.png', :alt => '宿のデフォルト画像', class:"room_image" %>
        <% end %>
      </div>
      <p class="room_detail"><%= @room.detail %></p>
    </div>

    <div class="room_foot">
     <p class="room_chargePerNight"><%= "#{@room.charge_per_night}円(/一泊)" %></p>
      <%= link_to "予約する", new_room_reservation_path(@room), class: "button" %>
   </div>
  </div>
</div>

<div>
  <%= link_to "戻る", :back, class:"link link-back" %>
</div>
