<h3><%= @room.name %></h3>
<div>
  <% if @room.image.attached? %>
    <%= image_tag @room.image %>
  <% else %>
    <%= image_tag 'default-image-room.png', :alt => '宿のデフォルト画像' %>
  <% end %>
</div>
<ul>
  <li><%= "1名1泊#{@room.charge_per_night}円" %></li>
  <li><%= @room.introduction %></li>
</ul>

<div>
  <%= link_to "戻る", :back %>
</div>
