<!DOCTYPE html>
<html>
  <head>
    <title>BookRooms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <p><%= link_to 'ROOM MATCHING', homes_top_path %></p>
        <% if user_signed_in? %>
          <ul>
            <li>アイコン画像</li>
            <li><%= current_user.name %></li>
            <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
